
@keyframes animacao {
    0% {
        transform: translateX(-15px);
    } 50% {
        transform: translateX(15px);
    } 100% {
        transform: translateX(-15px);
    }
}


.N:hover, .B:hover, .C:hover, .D:hover {
    /* background-color: rgba(136, 22, 14, 0.10); */
    animation: animacao 10s infinite;
}

body {
    background: linear-gradient(to bottom, rgb(190, 10, 10), #af0404cc);
    margin: 0;
    height: 200vh;
}

#barra {
    background: linear-gradient(to left, rgb(248, 248, 248), #ffffff);
    border-radius: 5px;
    padding: 10px;
    height: 60px;
}

#button {
    display: flex;    
    border: none;  
    margin-top: 200px;
    margin-left:200px;
    flex-wrap: wrap;
    gap: 100px;
    align-items: center;

}

.N, .B, .C, .D {
    color: white;
    border: solid 3px white;
    border-radius: 20px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    width: 40%;
    height: 200px;
    overflow: hidden;
    padding: 0;
    box-shadow: 5px 5px 10px  #00000010, -5px -5px 10px #00000010;

}

.N img, .B img, .C img, .D img {
    opacity: 0.9;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 15px;
}

.N strong {
    position: absolute;
    color: white;
    margin-top: 100px;
    margin-left: 150px;

}